<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <h1 class="">details</h1>
    <a href="/">Add New</a>
    <br />
    <table class="table-auto">
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.username %>
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
  </body>
</html>